name: Java Quality
on: [push]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
        
    # OSA 1: Vakavat virheet (Koodi ei käänny ilman tätä)
    - name: Käännä koodi (Vakavat virheet)
      run: mvn compile
      orking-directory: craftingtool

    # OSA 2: Tyylivirheet (Google Checks -säännöt)
    - name: Aja Checkstyle (Tyylivirheet)
      run: mvn checkstyle:check
      orking-directory: craftingtool